@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
:root{
    --primary-color: #84ac86;
    --secondary-color: #3672f4;
    --font-color: #71a6b6;
    --accent-color: #ff9800;
    --text-color: #555;
    --link-color: #1e90ff;
    --background-color: #f4f4f4;
    --gray  : #f1e6e6;
    --black :black;
}
.header-content{
    /* background-color: var(--primary-color); */
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 0% auto;
    align-items: center;
    padding: 1rem;
}
.logo{
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    gap: 0.625rem;
    height: 70px;
    width: 20%;
}
.logo-icon{
    font-size: 2.5rem;
    color: white;
    height: 70px;
    width: 20%;
    border-radius: 10px;
}
.logoText{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5rem;
}
.nav{
    list-style: none;
    display: none;
    gap: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
@media screen and (min-width: 768px){
    .nav{
        display: flex;
    }
    
}
.contact-button{
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    display: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
@media screen and (min-width: 768px){
    .contact-button{
        display: flex;
    }
}
.contact-button:hover{
    background-color: #c3c778;
}
.nav-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav-link:hover{
    color: var(--accent-color);
}
.menu-button{
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    display: block;
   
}
@media screen and (min-width: 768px){
    .menu-button{
        display: none;
    }
}
.menu-icon{
    font-size: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column ;
    gap: 2rem;
    margin: 0% auto;
    padding: 0.6rem;
}
.content-left{
    text-align: center;
    animation: slideInFromLeft 1s ease forwards;
    opacity: 0;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.content-right{
    text-align: center;
    animation: slideInFromRight 1s ease forwards;
    opacity: 0;
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {  
        transform: translateX(0);
        opacity: 1;
    }
}   
.section-lable{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--font-color);

}
.section-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);

}
.section-description{
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.6;
    margin-top: 10px;
}
.button-group{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.start-button{
    background-color: var(--secondary-color);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}
.start-button:hover{
    background-color: #c3c778;
}   
.tour-button{
     background-color: var(--secondary-color);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}
.tour-button:hover{
    background-color: #c3c778;
}
.image-container{
    text-align: center;
    border: none;
    border-radius: 1.255rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
}
.section-image{
    width: 70%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    
    .main-section{
        flex-direction: row;
    }
    .content-left{
        text-align: center;
        max-width: 50%;
        max-height: 50%;
    }
    .content-right{
        text-align: center;
        max-width: 50%;
        max-height: 50%;
    }
    .section-title{
        font-size: 1.5rem;

    }
    .section-description{
        font-size: 0.9rem;
    }
        
}
.company-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin-top: 2rem;
    animation: slideInFromLeft 1s ease forwards;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    background-color: var(--gray);
    border: none;
    border-radius: 2rem;
    margin-top: 2rem;
}
.logo-text{
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
    /* display: flex; */
}
.company-logo{
   font-size: 1rem;
   font-weight: 500;
}
.company-logo:hover{
    transform: scale(1.1);
    opacity: 1;
}
.company-img{
    width: 100px;
    height: auto;
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
}
.company-img:hover{
    transform: scale(1.1);
    opacity: 1;
}  
@media  screen and (min-width: 768px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    
}
.feature-container{
    background-color: #ede2e2;
    padding: 2rem;
    text-align: center;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.feature-title1{
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 0.6rem;
    font-weight: bold;
}
.feature-title{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(44, 42, 42);
}
.feature-description{
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.6;
    margin-top: 10px;
    color: black;
}
.feature-description{
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.6;
    margin-top: 10px;
    color: var(--background-color);
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    margin-top: 1.3rem;
}
.icon-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.icon-container:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.feature-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(131, 175, 165);
    border-radius: 1.6rem;
}
.feature-card:nth-child(1){
    background-color: rgb(176, 82, 195);
}
.feature-card:nth-child(2){
    background-color: rgb(76, 205, 194);
}
.feature-card:nth-child(3){
    background-color: rgb(171, 22, 116);
}
.feature-card:nth-child(4){
    background-color: rgb(32, 199, 77);
}
.feature-card:nth-child(5){
    background-color: rgb(239, 193, 67);
}
.feature-card:nth-child(6){
    background-color: rgb(108, 144, 41);
}
.feature-card:hover{
    transform:perspective(500px) translateZ(55px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.feature-card-title{
    font-size: 1.2rem;
    font-weight: bold;  
    color: white;
    margin-top: 1rem;
}
.feature-card-description{
    font-size: 1rem;
    color: white;   
    text-align: center;
    margin-top: 0.5rem;
    padding: 0 1rem;
}
.testimonial-card{
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: solid 2px black;
}
.testimonial-card:hover{
    transform:perspective(100px) translateZ(5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.testimonial-text{
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 1rem;
}
.testimonial-text:hover{
    color: var(--accent-color);
}
.testimonial-avatar{
    width: 10px;
    height: 10vh;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    border: #1e90ff;
    border-radius: 2rem;
}
.testimonial-details{
    font-size: 0.9rem;
    color: var(--font-color);
    font-weight: bold;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}
.testimonial-content{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
}
.testimonial-container{
    background-color: #ede2e2;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}
.avatar-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 3rem;
    border: 2px solid #8fa6bd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.avatar-image:hover{
    transform: scale(1.4);
    opacity: 1;
}
.newsleter-container{
    background-color: var(--gray);
    padding: 2rem;
    max-width: 1280px;
    height: 35vh;
    margin: 0% auto;
    
}
.newsletter-content{
    display: flex;
    flex-direction: row; 
    height: 100%;
    background-color: #555;
    border-radius: 8px;
    overflow: hidden;
}
.newsletter-left{
    width: 50%;
    height: 100%;
}
.newsletter-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}
.newsletter-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    align-items: flex-start;
    margin-top: 150px;
    text-align: center;   
}
.newsletter-title{
    font-size: 2rem;
    color: rgb(240, 7, 15);
    margin-top: 1.6rem;
    font-weight: bold;
    margin-top: 13rem;
    
}
.newsletter-description{
    font-size: 1.2rem;
    color: rgb(31, 31, 29);
    line-height: 1.6;
    font-weight: bold;
    margin-top: 0.01rem;
}
.news-email{
    padding: 10px;
    border: 1px solid #211f1f;
    border-radius: 4px;
    width: 50%;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.newsletter-separator{
    height: 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.news-send-button{
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}
.news-send-button:hover{
    background-color: #b1b38d;
}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0.8rem;
    color: rgb(46, 38, 38);
    font-weight: bold;
    margin-bottom: 2rem;
}
.terms-link{
    margin-bottom: 1rem;
}

.terms-link1{
    margin-bottom: 3rem;
    color: var(--link-color);
    text-decoration: none;
}
.terms-link1:hover{
    color: var(--accent-color);
    text-decoration: underline;
    transform: scale(1.2);
}
@media  screen and (max-width: 640px){
    .newsletter-content{
        flex-direction: column;
    }
    .newsletter-left, .newsletter-right{
        width: 100%;
        height: auto;
    }
    .newsletter-right{
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
    
}
.footaer-container{
    background-color: rgb(200, 155, 155);
    padding: 1rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
}
.footer-logo-icon{
    font-size: 2rem;
    color: white;
    height: 70px;
    width: 70px;
    border-radius: 10px;
}
.footer-logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(1, 1, 1);
    margin-left: 0.5rem;
}
.filter-text{
    font-size: 0.9rem;
    color: rgb(10, 9, 9);
    margin-bottom: 1rem;
    font-weight: bold;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.social-icon{
    font-size: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon:hover{
    transform: perspective(200px) translateZ(45px);
    background-color: #c3c778;
}
.social-link{
    color: white;
    font-size: 1.5rem;
}
.social-link:nth-child(4){
    border-radius: 4rem;
}
.social-link-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(1, 1, 1);
    margin-left: 0.5rem;
}
.social-link:hover{
    color: rgb(26, 48, 218);
}